/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: red;
  padding: 2rem;
}

.page-wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#game-summary {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2rem 0;
}

.summary-info, 
.game-controls {
  width: 50%;
}

.game-board {
  display:grid;
  place-items: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  background-color: white;
  padding: 10px;
}

.card-container {
  background-color: green;
  display: block;
  width: 100%;
}

.card {
  display: block;
  width: 100%;
  padding-top: 100%;
  color: white;
}

.card-face-down {
  background-color: black;
}

.card-face-up {
  background-color: blue;
}